<button {{on "mouseenter" this.showDropdown}}
  {{on "mouseleave" this.hideDropdown}} {{on "touchstart" this.toggleDropdown}}
  class="w-full hover:bg-blue-700 font-bold py-2 px-4 border-2 border-red-300
    {{this.buttonClass}}">
  {{this.args.serviceName}}
</button>
<div class="bg-yellow-200 px-4 border-2 border-t-0
  flex-flex-col justify-center mb-3
  {{this.hiddenClass}}">
  {{yield}}
</div>
